{% extends 'base/base.html' %}
{% import 'macros/form.html' as macros %}

{% block content %}
<div class="row  m-2 border p-4">
  {% if form is defined %}
  <form action="" method="post">
    {{ form.csrf_token }}
    {{ macros.render_field(form.url, size=64, class='form-control', placeholder='Insira a URL', maxlength=512) }}
    <br>
    <div class="d-grid gap-2 col-4">
    {{ form.submit(class='btn btn-primary mb-3 float-left') }}
    </div>
  </form>
  {% elif status is defined %}
  <div class="input-group">
    <input class="form-control" type="text" aria-label="URL" value="{{url}}" id='short-url' disabled>
    <span class="input-group-btn">
      <button class="btn btn-outline-dark" type="button" id="copy-button" data-bs-toggle="tooltip"
        title="Copiar">
        Copiar
      </button>
    </span>
  </div>
  {% endif %}
</div>


{% endblock %}